<!DOCTYPE html>
<!--
    - Author(s) name (Individual or corporation): CodingNepal
    - Date: August 21, 2020
    - Title: Responsive Navigation Menu Bar Design using only HTML & CSS
    - Type: source code
    - Availability: https://www.codingnepalweb.com/responsive-navigation-menu-bar-design/
 -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Homepage Menu</title>
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
          body  {
                background-image: url("https://www.bucoks.com/ImageRepository/Document?documentID=7776"); 
            }
      </style>
   </head>
   <body>
      <nav>
         <div class="logo">
            Data Visualization
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a class="active" href="http://localhost:5000">Home</a></li>
            <li><a href="http://localhost:5000/Confirmed_Case">Johns Hopkins University</a></li>
            <li><a href="http://localhost:5000/Recovered_Case">New York Times</a></li>
            <li><a href="http://localhost:5000/Death_Case">1point3acres</a></li>
            <li><a href="#"></a></li>
         </ul>
      </nav>
      <div class="content">

      </div>
   </body>
</html>