<!DOCTYPE html>
<html>
<body>

<h1>Confirmed Case Each Month</h1>

<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-6400db-fyamk/embed/charts?id=33a1ddb1-dd03-45f1-9533-4a41b23e31a8&maxDataAge=-1&theme=dark&autoRefresh=true"></iframe>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-6400db-fyamk/embed/charts?id=40559baa-48a3-4513-b96a-48cec6675185&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-6400db-fyamk/embed/charts?id=fabf7473-bfa6-4d7d-81f7-4f24341ddee9&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-6400db-fyamk/embed/charts?id=7daa9e2a-7bbb-4fae-9607-804e1fd0df9e&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>

</body>
</html>