<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Source Introduction Page</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-image: url("https://www.who.int/images/default-source/default-album/cdc-k0krntqcjfw-unsplash6d0dcf07f4a847b39930a9454ed07c9a.tmb-1920v.jpg?sfvrsn=30a5882e_1");
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="logo">Data Visualization</div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="http://localhost:5000">Home</a></li>
        <li>
          <a href="http://localhost:5000/JHU">Johns Hopkins University</a>
        </li>
        <li>
          <a href="http://localhost:5000/New_York_Time">New York Times</a>
        </li>
        <li><a href="http://localhost:5000/1point3acres">1point3acres</a></li>
        <li>
          <a class="active" href="http://localhost:5000/Sources">Sources</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />

      Dataset&nbsp1<br />
      &nbsp&nbsp&nbsp&nbsp Data published by:&nbsp COVID-19 Data Repository by
      the Center for Systems Science and Engineering (CSSE) at Johns Hopkins
      University<br />
      &nbsp&nbsp&nbsp&nbsp Variable time span:&nbsp Jan 22, 2020 – Now <br />
      &nbsp&nbsp&nbsp&nbsp Link:&nbsp
      https://github.com/CSSEGISandData/COVID-19<br />
      &nbsp&nbsp&nbsp&nbsp "Raw data on confirmed cases and deaths for all
      countries is sourced from the COVID-19 Data Repository by the Center for
      Systems Science and Engineering (CSSE) at Johns Hopkins University. This
      COVID-19 dataset is a collection of the COVID-19 data maintained by Our
      World in Data. It is updated daily and includes data on confirmed cases,
      deaths, hospitalizations, and testing." [1]<br /><br />
      <br />
      Dataset&nbsp2<br />
      &nbsp&nbsp&nbsp&nbsp Data published by:&nbsp New York Times<br />
      &nbsp&nbsp&nbsp&nbsp Variable time span:&nbsp Jan 22, 2020 – Now <br />
      &nbsp&nbsp&nbsp&nbsp Link:&nbsp
      https://github.com/nytimes/covid-19-data<br />
      &nbsp&nbsp&nbsp&nbsp "An ongoing repository of data on coronavirus cases
      and deaths in the U.S.. The primary data published are the daily
      cumulative number of cases and deaths reported in each county and state
      across the U.S. since the beginning of the pandemic."[2]<br /><br />
      <br />
      Dataset&nbsp3<br />
      &nbsp&nbsp&nbsp&nbsp Data published by:&nbsp 1point3acres<br />
      &nbsp&nbsp&nbsp&nbsp Variable time span:&nbsp Jan 22, 2020 – Now <br />
      &nbsp&nbsp&nbsp&nbsp Link:&nbsp
      https://coronavirus.1point3acres.com/en/data<br />
      &nbsp&nbsp&nbsp&nbsp "Timely, creditable, and fine-granular case
      information is vital for local communities and individual citizens to make
      rational and data-driven responses to the COVID-19 pandemic. A COVID-19
      tracking project associated with a large scale epidemic dataset, which was
      initiated by 1Point3Acres. To the best of our knowledge, the project is
      the only platform providing real-time global case information of more than
      4,124 sub-divisions from over 27 countries worldwide with multi-language
      supports." [3]<br /><br />

      Reference:<br />
      [1]CSSEGISANDDATA/covid-19: Novel coronavirus (COVID-19) cases, provided
      by JHU CSSE. GitHub. (n.d.). Retrieved December 7, 2021, from
      https://github.com/CSSEGISandData/COVID-19. [2]Nytimes/COVID-19-data: An
      ongoing repository of data on coronavirus cases and deaths in the U.S.
      GitHub. (n.d.). Retrieved December 7, 2021, from
      https://github.com/nytimes/covid-19-data. [3]Global covid-19 Tracker &amp;
      Interactive Charts - 1Point3Acres. (n.d.). Retrieved December 7, 2021,
      from https://coronavirus.1point3acres.com/en.
      <br />[4]World Health Organization, the image is retrieved from
      https://www.who.int/images/default-source/default-album/cdc-k0krntqcjfw-unsplash6d0dcf07f4a847b39930a9454ed07c9a.tmb-1920v.jpg?sfvrsn=30a5882e_1.
      <br />[5]BUTLER COUNTY, the image is retrieved from
      https://www.bucoks.com/ImageRepository/Document?documentID=7776
    </div>
  </body>
</html>
